
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
    border-radius: 14px;
}
.switch input {
    display:none;
}
.slider:before{
    position: absolute;
    content: "";
    height: 25px; /*Circulo*/
    width: 25px;
    left: 0;
    bottom: 3px;
    background-color: #29c303;
    transition: 0.4s;
    border-radius: 50px;
}
input:checked + .slider{
    background-color: rgba(0, 0, 0, 0.6);
}


input:checked + .slider::before {
    transform: translate(30px);
}